<!DOCTYPE html>
<html>
  <head>
    <title>Controller</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/hammer.min.js"></script>


    <script src="/scripts/Utils.js"></script>
    <script src="/scripts/EventEmitter.js"></script>
    <script src="/scripts/Connection.js"></script>
    <script src="/scripts/HammerControls.js"></script>
    <script src="/scripts/Controller.js"></script> 
    <script src="/scripts/controllerMain.js"></script>
    <script src="/scripts/MessageHub.js"></script>

    <link rel="stylesheet" type="text/css" href="/styles/controller.css" />

  </head>
  <body>
    <div id="controllerWrapper">
        <div id="controls">
            <div id="top" class="controlArea"></div>
            <div id="mid" class="controlArea"></div>
            <div id="bot" class="controlArea"></div>
        </div>
    </div>
  </body>
</html>
