<!DOCTYPE html>
<html>
  <head>
    <title>Viewer</title>
    <link rel='stylesheet' type='text/css' href='styles/main.css' />
  </head>
  <body>
    Use developer tools (press F12) to see the messages from the server.
   <script src="/socket.io/socket.io.js"></script>
    <script>
      var roomId = window.location.pathname.split("/").pop();
      var socket = io('http://localhost:8080');
      function send(data) {
        console.log("Message sent");
        socket.emit('joinRoom', data);
      }
      socket.on('connect', function(){
        socket.emit('joinRoom', {roomId: roomId, type: 'viewer'});
           socket.on('gameEvent', function(data){
            console.log('New game event', data);
          });
      });
      socket.on('disconnect', function(){
        console.log('Disconnected   ');
      });
    </script>
  </body>
</html>
