<!DOCTYPE html>
<html>

<head>
    <title>White Trash Smash!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/hammer.min.js"></script>
    <script src="/lib/phaser.min.js"></script>
    
    <script src="/scripts/Utils.js"></script>
    <script src="/scripts/EventEmitter.js"></script>
    <script src="/scripts/Connection.js"></script>
    <script src="/scripts/MessageHub.js"></script>
    <script src="/scripts/StateMachine.js"></script>
    <script src="/scripts/Sound.js"></script>
    <script src="/scripts/Game.js"></script>
    <script src="/scripts/ViewPageModel.js"></script>
    <script src="/scripts/gameMain.js"></script>
    <script src="/scripts/phaserGame.js"></script>

    <link rel="stylesheet" type="text/css" href="/styles/game.css" />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />

</head>

<body>
    <div id="gameContainer">
    </div>
    <div id="comboBar"></div>
</body>

</html>