#controls {
    position: absolute;
    height: 100%;
    width: 100%;
}

.controlArea {
    height: 30%;
    width: 100%;
    border: 1px solid red;
    border-radius: 3px;
    margin: 3px;
    background: silver;
    text-align: center;
    font: 30px/300px Helvetica, Arial, sans-serif;
}

.controlArea button {
    width: 32%;
    height: 100%;
}